<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css" />
    <link href="/css/main1.css" rel="stylesheet" />
    <title>WIRED Home</title>
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-sm fixed-top bg-light">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="#"
          ><img src="images/image_1.jpg" height="30" width="41"
        /></a>

        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" id="m1" href="./index.html"
                ><span class="fa fa-home fa-lg"></span> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="m2" href=""
                ><span class="fa fa-user-plus fa-lg"></span>sign up
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="m3" href=""
                ><span class="fa fa-info fa-lg">Our Story</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row row-content allign-items-center">
        <div class="col-12 col-sm-6 offset-sm-3">
          <div class="card allign-items-center d-flex">
            <div class="card-header">
              <i><b>Welcome ,<%= user.firstName %> !</b></i>
            </div>
            <div
              class="card-body align-items-center d-flex justify-content-center"
            >
              <div class="container welcome">
                <div class="row">
                  <button id="content1" class="col-sm-5 btn btn-sm btn-primary">
                    Create <br />
                    Meeting
                  </button>
                  <button
                    id="content2"
                    class="col-sm-5 offset-sm-2 btn btn-sm btn-primary"
                    disabled
                  >
                    schedule <br />
                    Meeting
                  </button>
                </div>
                <br />
                <div class="row">
                  <button
                    id="content3"
                    class="col-sm-5 btn btn-sm btn-primary"
                    disabled
                  >
                    Join <br />
                    Meeting
                  </button>
                  <form
                    action="/logout"
                    method="get"
                    class="col-sm-5 offset-sm-2"
                    style="padding: 0%"
                  >
                    <button
                      type="submit"
                      class="btn btn-sm btn-danger"
                      style="width: 100%; height: 100%"
                    >
                      LogOut
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
